head {
  background: #ffffe6; /*151b1f*/
  font-family: "Garamond", "Gerogia", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    serif;
  font-size: 2em;
  color: black;
}

body {
  background: #ffffe6; /*151b1f*/
  font-family: "Garamond", "Gerogia", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    serif;
  font-size: 2em;
  color: black;
}