header {
  /* background: #ffffe6; 151b1f*/ 
  font-family: "Garamond", "Gerogia", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    serif;
  font-size: 30px;
  color: black;
}

body {
  /* background: #ffffe6; /*151b1f*/
  font-family: "Garamond", "Gerogia", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    serif;
  font-size: 10px;
  color: black;
}

.p1 {
  font-family: "Times New Roman", "Monaco", monospace;
  font-size: 10px;
  color: black;
}