header {
  /* background: #ffffe6; 151b1f*/ 
  font-family: "Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  background-color: #e4002b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  /* background: #ffffe6; /*151b1f*/
  font-family: "Garamond", "Gerogia", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    serif;
  font-size: 25px;
  color: black;
}

.p1 {
  font-family: "Garamond", "Monaco", monospace;
  font-size: 25px;
  color: black;
}

.p2 {
  font-family: "Garamond", "Monaco", monospace;
  font-size: 25px;
  color: black;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  justify-content: center;
  align-items: center;
  display: block;
  color: #f2f2f2;
  font: "Sans",Verdana,sans-serif;
  text-align: center;
  padding: 14px 16px;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.image {
  position: relative;
  width: 400px;
}

.image_img{
  display: block;
  width: 100%
}

.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image_overlay > *{
  transform: translateY(20px);
  transition: transform 0.25;
}

.image_overlay:hover{
  opacity: 1;
}

.image_overlay:hover > *{
  transform: translateY(20px);
}

.img_title{
  font-size: 2em;
  font-weight: bold;
}
