header {
  /* background: #ffffe6; 151b1f*/ 
  font-family: "MetSans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  background-color: #e4002b;
  color: #fff;
  display: flex;
  height: 60px;
  max-width: 100%;
}

body {
  /* background: #ffffe6; /*151b1f*/
  font-family: "Garamond", "Gerogia", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    serif;
  font-size: 25px;
  color: black;
}

.p1 {
  font-family: "Times New Roman", "Monaco", monospace;
  font-size: 25px;
  color: black;
}

.p2 {
  font-family: "Times New Roman", "Monaco", monospace;
  font-size: 25px;
  color: black;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  font: "Montserrat",Verdana,sans-serif;
  text-align: center;
  padding: 14px 16px;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}